<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapseApp" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-university" aria-hidden="true"></i> LMS</a>
    </div>
    <div class="collapse navbar-collapse" id="navCollapseApp">
        <ul class="nav navbar-nav navbar-left" ng-if="status.isSignedIn">
            <li class="navBtns"><a href="/dashboard"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a></li>
            <li class="navBtns"><a href="/users"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
            <li class="navBtns"><a href="/books"><i class="fa fa-book" aria-hidden="true"></i> Books</a></li>
            <li class="navBtns"><a href="/issues"><i class="fa fa-exchange" aria-hidden="true"></i> Issues</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="status.isSignedIn">
            <li>
                <p class="navbar-text">Signed in as <a ng-href="/users/user/{{user.firstname}}" class="navbar-link">{{user.firstname}}</a></p>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);" ng-click="signOut();"><i class="fa fa-sign-out" aria-hidden="true"></i> SignOut</a> </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="!status.isSignedIn">
            <li class="navBtns registerBtn"><a href="javascript:void(0);"  ng-click="signUp();" ><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
            <li class="navBtns signInBtn"><a href="javascript:void(0);" ng-click="signIn();"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></li>

        </ul>
    </div>
</nav>
