


          <!-- Modal content-->

<!--
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
-->
            <div class="modal-body">
               <div id="signup">
                    <div class="signup-screen">
                        <div class="space-bot text-center">
                            <h1>Sign Up</h1>
                            <div class="divider"></div>
                        </div>
                        <form class="form-register" method="post" name="register" ng-submit="submitForm()">
                            <div class="input-field col s6">
                            <label for="first-name"></label>
                            <input id="first-name" placeholder="First name" type="text" class="form-control" ng-model="signup.fname">
                            <span ng-show="errorfname">{{errorfname}}</span>
                            </div>
                            <div class="input-field col s6">
                            <label for="last-name"></label>
                            <input id="last-name" placeholder="Last name" type="text" class="form-control" ng-model="signup.lname">
                            <span ng-show="errorlname">{{errorlname}}</span>
                            </div>
                            <div class="input-field col s6">
                            <label for="phone-no"></label>
                            <input id="phone-no" placeholder="Phone Number" type="text" class="form-control" ng-model="signup.phno">
                            <span ng-show="errorphno">{{errorphno}}</span>
                            </div>
                            <div class="input-field col s6">
                            <label for="email-id"></label>
                            <input id="email-id" placeholder="Email ID" class="validate" class="form-control" type="text" ng-model="signup.email">
                            <span ng-show="erroremail">{{erroremail}}</span>
                            </div>
                            <div class="input-field col s6">
                            <label for="password"></label>
                            <input id="password" ng-minlength='6' placeholder="Password" class="form-control" type="password" ng-model="signup.pwd">

                            </div>
                            <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                            <i class="material-icons left">done</i> Done
                            </button>
                            <button type="button" class="waves-effect waves-light btn cancel">
                            <i class="material-icons left">clear</i>Cancel
                            </button>

                        </form>
                    </div>
                </div>
            </div>
<!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
-->



